@model IEnumerable<MasterPiece.Models.Cloth>

@{
    ViewBag.Title = "الملابس";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<link href="~/Content/ClothsCards.css" rel="stylesheet" />

<main class="main">

    <!-- EachService Section -->
    <section id="EachService" class="EachService section">

        <!-- Section Title -->
        <div class="container" data-aos="fade-up">
            <p class="Eachsection-title">خدمات الملابس<br></p>
            <p class="Eachsection-description">
                اكتشف مجموعتنا الرائعة من خدمات تأجير الملابس للعروس والعريس، حيث
                نوفر لكم تجربة مميزة لاختيار إطلالتكم الأنيقة ليومكم الخاص. تضمن خدماتنا تلبية احتياجاتكم بأسلوب
                راقي واحترافي، مما يجعل لحظاتكم لا تُنسى
            </p>
            <div class="Eachsection-description">
                <p>خدماتنا تشمل</p>
                <p>فساتين الزفاف: مجموعة متنوعة من الفساتين بأحدث التصاميم والأنماط</p>
                <p>البدلات الرجالية: تشكيلة من البدلات الأنيقة والموديلات الحديثة لإطلالة العريس المثالية</p>
            </div>

            <div class="custom-dropdown">
                <select class="custom-select-dropdown" id="categoryValue" onchange="clothesOnCategory()">
                    <option selected disabled>الصنف</option>
                    <option value="فساتين أعراس">فساتين اعراس</option>
                    <option value="بدلات رجالية">بدلات رجالية</option>
                </select>
            </div>




        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4" id="clothesContainer">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-md-6 card-item" data-category="@item.Category" data-aos="fade-up" data-aos-delay="100">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/Content/img/@item.ImageUrl" alt="" class="img-fluid">
                            </div>
                            <h3>@item.Name</h3>
                            <p>السعر: @item.Color</p>
                            <p>الصنف: @item.Category</p>
                            <div class="stars">
                                <a class="btn-getstarted details-btn" id="det" href="@Url.Action("Index", "ClothDetails", new {id=item.ClothId})">التفاصيل</a>
                                <a class="btn-getstarted details-btn cart" href="@Url.Action("Index", "ClothDetails", new {id=item.ClothId})">أضف إلى الطلب</a>
                                <span>@item.Rate (20)</span>
                                <div><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card Item -->
                }
            </div>

        </div>

    </section><!-- /EachService Section -->

</main>

<script>
    function clothesOnCategory() {
        var selectedCategory = document.getElementById("categoryValue").value;
        var clothCards = document.querySelectorAll(".card-item");
        clothCards.forEach(function (card) {
            var cardCategory = card.getAttribute("data-category");
            if (selectedCategory === cardCategory || selectedCategory === "الصنف") {
                card.style.display = "block";
            } else {
                card.style.display = "none";
            }
        });
    }
</script>