@model MasterPiece.Models.FarmViewModel

@{
    ViewBag.Title = "إضافة مزرعة";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    h2, label, input, textarea {
        text-align: right;
    }

    label {
        width: 100%;
        text-align: right;
        display: block;
    }

    ::placeholder {
        text-align: right;
    }

    .form-control {
        border-radius: 0.25rem;
    }

    .card {
        border-radius: 0.5rem;
    }

    .image-preview {
        margin-top: 10px;
        max-width: 100%;
        height: auto;
        text-align: right;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-floating {
        margin-bottom: 1rem;
    }

    .image-preview img {
        width: 100px;
    }

    .image-row {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem; /* Space between images */
        direction: rtl;
    }

        .image-row .form-floating {
            flex: 1 1 calc(33.333% - 1rem); 
            box-sizing: border-box; 
        }

            .image-row .form-floating img {
                width: 100px; 
                height: auto; 
            }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center">
                    <h2>إضافة مزرعة جديدة</h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("CreateFarm", "Admin", FormMethod.Post, new { enctype = "multipart /form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                        <!-- Venue Name -->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farm.Name, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "اسم المزرعة" } })
                            @Html.LabelFor(model => model.farm.Name, "اسم المزرعة", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farm.Name, "", new { @class = "text-danger" })
                        </div>

                        <!-- Location -->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farm.Location, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "الموقع" } })
                            @Html.LabelFor(model => model.farm.Location, "الموقع", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farm.Location, "", new { @class = "text-danger" })
                        </div>

                        <!-- Price -->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farm.Price, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "السعر" } })
                            @Html.LabelFor(model => model.farm.Price, "السعر", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farm.Price, "", new { @class = "text-danger" })
                        </div>

                        <!-- Rate -->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farm.Rate, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "التقييم" } })
                            @Html.LabelFor(model => model.farm.Rate, "التقييم", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farm.Rate, "", new { @class = "text-danger" })
                        </div>

                        <!-- Image URL -->
                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farm.ImageUrl, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl" } })
                            @Html.LabelFor(model => model.farm.ImageUrl, "رابط الصورة الرئيسية", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farm.ImageUrl, "", new { @class = "text-danger" })
                            <div class="image-preview">
                                <img id="imagePreview" src="" />
                            </div>
                        </div>

                        <!-- Additional Image URLs with Preview -->
                        <!-- Row 1 -->
                        <div class="image-row">
                            <!-- Image URL 1 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl1, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl1" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl1, "رابط الصورة 1", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl1, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview1" src="" />
                                </div>
                            </div>

                            <!-- Image URL 2 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl2, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl2" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl2, "رابط الصورة 2", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl2, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview2" src="" />
                                </div>
                            </div>

                            <!-- Image URL 3 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl3, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl3" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl3, "رابط الصورة 3", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl3, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview3" src="" />
                                </div>
                            </div>
                        </div>

                        <!-- Row 2 -->
                        <div class="image-row">
                            <!-- Image URL 4 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl4, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl4" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl4, "رابط الصورة 4", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl4, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview4" src="" />
                                </div>
                            </div>

                            <!-- Image URL 5 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl5, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl5" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl5, "رابط الصورة 5", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl5, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview5" src="" />
                                </div>
                            </div>

                            <!-- Image URL 6 -->
                            <div class="form-floating mb-3">
                                @Html.EditorFor(model => model.farmDetail.ImageUrl6, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الصورة", id = "imageUrl6" } })
                                @Html.LabelFor(model => model.farmDetail.ImageUrl6, "رابط الصورة 6", new { @class = "form-label" })
                                @Html.ValidationMessageFor(model => model.farmDetail.ImageUrl6, "", new { @class = "text-danger" })
                                <div class="image-preview">
                                    <img id="imagePreview6" src="" />
                                </div>
                            </div>
                        </div>



                        <!-- Description and Other Fields -->
                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.farmDetail.Description, "الوصف", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.farmDetail.Description, new { @class = "form-control", rows = 4, placeholder = "الوصف" })
                            @Html.ValidationMessageFor(model => model.farmDetail.Description, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.farmDetail.PriceDetails, "تفاصيل السعر", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.farmDetail.PriceDetails, new { @class = "form-control", rows = 2, placeholder = "تفاصيل السعر" })
                            @Html.ValidationMessageFor(model => model.farmDetail.PriceDetails, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group mb-3">
                            @Html.LabelFor(model => model.farmDetail.Capacity, "السعة", new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.farmDetail.Capacity, new { @class = "form-control", rows = 2, placeholder = "وصف السعة" })
                            @Html.ValidationMessageFor(model => model.farmDetail.Capacity, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-floating mb-3">
                            @Html.EditorFor(model => model.farmDetail.Location, new { htmlAttributes = new { @class = "form-control form-control-sm", placeholder = "رابط الخريطة", id = "locationUrl" } })
                            @Html.LabelFor(model => model.farmDetail.Location, "الخريطة", new { @class = "form-label" })
                            @Html.ValidationMessageFor(model => model.farmDetail.Location, "", new { @class = "text-danger" })
                            <div class="image-preview">
                                <img id="locationPreview" src="" alt="Map Preview" />
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-lg">إضافة المزرعة</button>
                            <a href="@Url.Action("ShowFarms", "Admin")" class="btn btn-secondary btn-lg">العودة إلى القائمة</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function updateImagePreview(inputId, previewId) {
        const input = document.getElementById(inputId);
        const preview = document.getElementById(previewId);
        input.addEventListener('input', () => {
            preview.src = input.value;
        });
    }

    // Initialize image previews
    updateImagePreview('imageUrl1', 'imagePreview1');
    updateImagePreview('imageUrl2', 'imagePreview2');
    updateImagePreview('imageUrl3', 'imagePreview3');
    updateImagePreview('imageUrl4', 'imagePreview4');
    updateImagePreview('imageUrl5', 'imagePreview5');
    updateImagePreview('imageUrl6', 'imagePreview6');

    // Initialize image previews
    updateImagePreview('imageUrl', 'imagePreview');
    for (let i = 1; i <= 6; i++) {
        updateImagePreview('imageUrl' + i, 'imagePreview' + i);
    }
    updateImagePreview('locationUrl', 'locationPreview');
</script>


